{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
    {{category.desc|truncatewords:155}}
    {% else %}
    Welcome to RBN tech
    {% endif %}
{% endblock %}


{% block title %}
    {% if category %}
    {{category.name}} -- RBN store
    {% else %}
    see our new collection
    {% endif %}
{% endblock %}



{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx_auto">
        <p><a href="{% url 'shop:allprodcat' %}">our product collection</a></p>
        </div>
    </div><br>
</div>
{% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="category.name" width="100px;">
</div>
<div>
<h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.desc}}</p><br><br><br>
</div>
    {% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner2.jpg' %}" alt="banner" width="1400px;" height="500px">
</div>
<br>
<div>
    <h1 class="text-center my_title"> Our product collections</h1>
    <p class="text-justify">But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:15rem;">
                <a href="{{product.get_url}}">
                   <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}">
                    </a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
               </div>
            </div>
        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}

        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
